<!doctype html>
<html lang="en" ng-app="homepage">

<head>
    <meta charset="utf-8">
    <title>Roger Franklin</title>
    <link rel="stylesheet" href="stylesheets/app.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="javascripts/script.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
</head>

<body>
    <header>

        <div class=background>
            <div class=header-container>
                <h1>rogerfrankl.in</h1>
                <nav ng-controller="headerCtrl as header">
                    <ul>
                        <li>
                            <p ng-click="header.goToAnchor('home')">home.</p>
                        </li>
                        <li>
                            <p ng-click="header.goToAnchor('about')">about.</p>
                        </li>
                        <li>
                            <p ng-click="header.goToAnchor('portfolio')">portfolio.</p>
                        </li>
                        <li>
                            <p ng-click="header.goToAnchor('contact')">contact.</p>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </header>



    <div id="container">

        <div id=home class="content-container">
            <h2>Welcome</h2>
            <p>My name is Roger Franklin. I am a software developer.</p>
        </div>
        <div id=about class="content-container">
            <h2>About</h2>

            <div ng-controller="PanelController as panel" class="tabs">
                <ul>
                    <li ng-click="panel.setTab(1)" ng-class="{selected:panel.selectedTab(1)}">Interests</li>
                    <li ng-click="panel.setTab(2)" ng-class="{selected:panel.selectedTab(2)}">Hobbies</li>
                    <li ng-click="panel.setTab(3)" ng-class="{selected:panel.selectedTab(3)}">Technologies</li>
                </ul>
                <div ng-show="panel.selectedTab(1)">Interests</div>
                <div ng-show="panel.selectedTab(2)">Hobbies</div>
                <div ng-show="panel.selectedTab(3)">Technologies</div>
            </div>

        </div>
        <div id=portfolio class="content-container">
            <h2>Portfolio</h2>
            <p>Portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio</p>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>

        </div>
        <div id=contact class="content-container">
            <h2>Contact.</h2>
            <div class="two-col-container">
                <div class="two-col">
                        <h3>Find me on</h3>
                      <a href="http://github.com/rogerfranklin2"><img ng-src="/images/GitHub-Mark-64px.png" /></a>
                </div>
                <div class="two-col">
                    <h3>Send me a message</h3>
                    <div ng-controller="EmailController">
                        <form novalidate class="email-form">
                            <input type="text" ng-model="user.name" required placeholder="Name" class="email-input" />
                            <input type="email" ng-model="user.email" required placeholder="Email" class="email-input" />
                            <input type="text" ng-model="user.message" required placeholder="Message" class="email-input long" />
                            <button ng-click="sendEmail(user)">Send!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>
