html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
h1 {font-family: 'Montserrat', sans-serif;
        font-size: 72px;
        text-transform: uppercase;
        color: white;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

p { font-family: 'EB Garamond', serif;}

header {
    height: 100%;
    left: 0;
    width: 100%;
}

.background { 
    background: url(/images/hero-bg.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.header-container {
    padding: 50vh;
}

header {
    text-align: center
}

nav a{
    color: white;
}
    

nav ul li {
    display: inline-block;
    padding: 0 15px;
    color: white;
}

#container {
    max-width: 1200px;
    margin: 0 auto;
}

.content-container {
    padding-top: 50px;
    padding-bottom: 20px;
}

.tabs {
    width: 900px;
    margin: 0 auto;
}

.tabs ul {
    font-size: 30px;
    color: #393A3A;
    list-style-type: none;
}

.tabs ul li {
    display: inline-block;
    width: 32%;
    margin: 18px 0;
    text-align: center;
}

.tabs ul li::after {
    content: '';
    display: block;
    position: relative;
    margin: 0 auto;
    bottom: -10px;
    width: 40px;
    height: 1px;
    border-top: 4px solid #e5e5e5;
}

.selected {
    color: red;
}

.two-col-container {
    margin: 20px 0;
}

.two-col {
    display: inline-block;
    width:45%;
    margin: 0 29px;
}

.ng-invalid.ng-dirty {
    border-bottom:  3px solid #FA787E;
}

input.ng-valid.ng-dirty {
    border-bottom:  3px solid #78FA89;
}

.email-input {
    width: 50%;
    border:0;
    border-bottom:  3px solid #e5e5e5;
    padding-bottom: 3px;
    text-transform: uppercase;
    margin: 8px 0px;
}

.email-input.long{
    width: 100%
}



textarea:focus, input:focus{
    outline: 0;
}
