<h1>Hello!</h1>

<div>
    <section ng-controller="PanelController as panel">
        <ul>
            <li><a ng-click="panel.setTab(1)">Skills</a></li>
            <li><a ng-click="panel.setTab(2)">Interests</a></li>
            <li><a ng-click="panel.setTab(3)">Hobbies</a></li>
        </ul>


    <div ng-show="panel.selectedTab(1)" class="panel-content">
        <h3>Skills</h3>
        <p></p>
    </div>
    <div ng-show="panel.selectedTab(2)" class="panel-content">
        <h3>Interests</h3>
    </div>
    <div ng-show="panel.selectedTab(3)" class="panel-content">
        <h3>Hobbies</h3>
    </div>
    </section>
</div>
